# TestDataManagerを作成する準備
- 2024.10.01

In [1]:
import pandas as pd

In [2]:
# エクセルファイルの読み込み
xls = pd.ExcelFile('/Users/r/Documents/fastapi/testdata.xlsx')

class_df = pd.read_excel(xls, 'クラス', usecols=['クラス'])
subject_df = pd.read_excel(xls, '科目', usecols=['科目ID', '学年', '科目名', '単位数'])
lecture_df = pd.read_excel(xls, '講座', usecols=['講座ID', '講座名'])
block_df = pd.read_excel(xls, 'ブロック', usecols=['ブロックID', 'ブロック名'])
block_lane_df = pd.read_excel(xls, 'ブロックレーン', usecols=['ブロックID', 'レーンID', 'レーン番号'])
lane_lecture_df = pd.read_excel(xls, 'レーン講座', usecols=['レーンID', '講座ID'])
class_block_df = pd.read_excel(xls, 'クラスブロック', usecols=['クラス', 'ブロックID'])

In [3]:
lane_lecture_df

     レーンID   講座ID
0      101  j0101
1      101  j0201
2      101  g0101
3      101  m0101
4      101  m0201
..     ...    ...
311   3801  e0606
312   3901  s1003
313   3901  s1601
314   3902  s1102
315   3902  s1701

[316 rows x 2 columns]

In [4]:
# 1. レーン-講座に講座を結合
lane_lecture_df = lane_lecture_df.merge(lecture_df, left_on='講座ID', right_on='講座ID', how='left')

lane_lecture_df

     レーンID   講座ID    講座名
0      101  j0101   1現国1
1      101  j0201   1言文1
2      101  g0101   1歴総1
3      101  m0101   1数Ⅰ1
4      101  m0201   1数Ａ1
..     ...    ...    ...
311   3801  e0606  3英表Ⅱ6
312   3901  s1003   3物理6
313   3901  s1601    3物探
314   3902  s1102   3生物6
315   3902  s1701    3生探

[316 rows x 3 columns]

In [5]:
# 2. ブロック-レーンにレーン-講座を結合
block_lane_lecture_df = lane_lecture_df.merge(block_lane_df, left_on='レーンID', right_on='レーンID', how='left')

block_lane_lecture_df

     レーンID   講座ID    講座名  ブロックID  レーン番号
0      101  j0101   1現国1       1      1
1      101  j0201   1言文1       1      1
2      101  g0101   1歴総1       1      1
3      101  m0101   1数Ⅰ1       1      1
4      101  m0201   1数Ａ1       1      1
..     ...    ...    ...     ...    ...
311   3801  e0606  3英表Ⅱ6      38      1
312   3901  s1003   3物理6      39      1
313   3901  s1601    3物探      39      1
314   3902  s1102   3生物6      39      2
315   3902  s1701    3生探      39      2

[316 rows x 5 columns]

In [6]:
# 3. クラス-ブロックにブロック-レーンを結合
final_df = block_lane_lecture_df.merge(class_block_df, left_on='ブロックID', right_on='ブロックID', how='left')

In [7]:
final_df

     レーンID   講座ID    講座名  ブロックID  レーン番号  クラス
0      101  j0101   1現国1       1      1  1-1
1      101  j0201   1言文1       1      1  1-1
2      101  g0101   1歴総1       1      1  1-1
3      101  m0101   1数Ⅰ1       1      1  1-1
4      101  m0201   1数Ａ1       1      1  1-1
..     ...    ...    ...     ...    ...  ...
388   3801  e0606  3英表Ⅱ6      38      1  3-6
389   3901  s1003   3物理6      39      1  3-6
390   3901  s1601    3物探      39      1  3-6
391   3902  s1102   3生物6      39      2  3-6
392   3902  s1701    3生探      39      2  3-6

[393 rows x 6 columns]

In [8]:
# 講座名をリスト化
lane_group = final_df.groupby(['クラス', 'ブロックID', 'レーンID'])['講座名'].agg(list).reset_index()

# レーンごとにリスト化
block_group = lane_group.groupby(['クラス', 'ブロックID'])['講座名'].agg(list).reset_index()

# ブロックごとにリスト化
final_result = block_group.groupby('クラス')['講座名'].agg(list).to_dict()

print(final_result)

{'1-1': [[['1現国1', '1言文1', '1歴総1', '1数Ⅰ1', '1数Ａ1', '1物基1', '1化基1', '1生基1', '1体育1267', '1保健1', '1音楽Ⅰ1', '1英コⅠ1', '1論表Ⅰ1', '1家基1', '1情報Ⅰ1']]], '1-2': [[['1現国2', '1言文2', '1歴総2', '1数Ⅰ2', '1数Ａ2', '1物基2', '1化基2', '1生基2', '1体育1267', '1保健2', '1英コⅠ2', '1論表Ⅰ2', '1家基2', '1情報Ⅰ2']], [['1音楽Ⅰ23'], ['1美術Ⅰ23'], ['1書道Ⅰ23']]], '1-3': [[['1音楽Ⅰ23'], ['1美術Ⅰ23'], ['1書道Ⅰ23']], [['1現国3', '1言文3', '1歴総3', '1数Ⅰ3', '1数Ａ3', '1物基3', '1化基3', '1生基3', '1体育345', '1保健3', '1英コⅠ3', '1論表Ⅰ3', '1家基3', '1情報Ⅰ3']]], '1-4': [[['1現国4', '1言文4', '1歴総4', '1数Ⅰ4', '1数Ａ4', '1物基4', '1化基4', '1生基4', '1体育345', '1保健4', '1英コⅠ4', '1論表Ⅰ4', '1家基4', '1情報Ⅰ4']], [['1音楽Ⅰ45'], ['1美術Ⅰ45'], ['1書道Ⅰ45']]], '1-5': [[['1音楽Ⅰ45'], ['1美術Ⅰ45'], ['1書道Ⅰ45']], [['1現国5', '1言文5', '1歴総5', '1数Ⅰ5', '1数Ａ5', '1物基5', '1化基5', '1生基5', '1体育345', '1保健5', '1英コⅠ5', '1論表Ⅰ5', '1家基5', '1情報Ⅰ5']]], '1-6': [[['1現国6', '1言文6', '1歴総6', '1数Ⅰ6', '1数Ａ6', '1物基6', '1化基6', '1生基6', '1体育1267', '1保健6', '1英コⅠ6', '1論表Ⅰ6', '1家基6', '1情報Ⅰ6']], [['1音楽Ⅰ67'], ['1美術Ⅰ67'], ['1書道Ⅰ67']]], '1-7': [[['1音楽Ⅰ67'], ['1美術Ⅰ67'], ['1書道Ⅰ67']], [['1現国7', '1言文7', '1歴総7', '1数Ⅰ7', '1数Ａ7', '1物基7', '1化基7', '1生基7', '1体育1267', '1保健7', '1英コⅠ7', '1論表Ⅰ7', '1家基7', '1情報Ⅰ7', '1理探基']]], '2-1': [[['2論国1', '2古典1', '2地総1', '2公政1', '2公倫1', '2日探1', '2数Ⅱ文1', '2数Ｂ1', '2化研Ⅰ1', '2生研Ⅰ1', '2探求Ⅰ', '2体育1267', '2保健1', '2英コⅡ1', '2論表Ⅱ12']]], '2-2': [[['2論国2', '2古典2', '2地総2', '2公政2', '2公倫2', '2数Ⅱ文2', '2数Ｂ2', '2化研Ⅰ2', '2生研Ⅰ2', '2探求Ⅰ', '2体育1267', '2保健2', '2英コⅡ2', '2論表Ⅱ12']]], '2-3': [[['2論国3', '2古典3', '2地総3', '2公政3', '2公倫3', '2数Ⅱ文3', '2数Ｂ3', '2探求Ⅰ', '2体育345', '2保健3', '2英コⅡ3', '2論表Ⅱ34']], [['2世探'], ['2日探34']], [['2化研Ⅰ3', '2生研Ⅰ3'], ['2生物文']]], '2-4': [[['2世探'], ['2日探34']], [['2論国4', '2古典4', '2地総4', '2公政4', '2公倫4', '2数Ⅱ文4', '2数Ｂ4', '2探求Ⅰ', '2体育345', '2保健4', '2英コⅡ4', '2論表Ⅱ34']], [['2化研Ⅰ4', '2生研Ⅰ4'], ['2生物文']]], '2-5': [[['2論国理5', '2古典理5', '2地総5', '2公政5', '2公倫5', '2数Ⅱ理5', '2数Ｂ5', '2化学5', '2探求Ⅰ', '2体育345', '2保健5', '2英コⅡ5', '2論表Ⅱ56']], [['2物理5'], ['2生物56']]], '2-6': [[['2論国理6', '2古典理6', '2地総6', '2公政6', '2公倫6', '2数Ⅱ理6', '2数Ｂ6', '2化学6', '2探求Ⅰ', '2体育1267', '2保健6', '2英コⅡ6', '2論表Ⅱ56']], [['2物理6'], ['2生物56']]], '2-7': [[['2論国理7', '2古典理7', '2地総7', '2公政7', '2公倫7', '2数Ⅱ理7', '2数Ｂ7', '2化学7', '2理探', '1体育1267', '2体育1267', '2保健7', '2英コⅡ7', '2論表Ⅱ7']], [['2物理7'], ['2生物7']]], '3-1': [[['3現文1', '3古典1', '3数Ⅱ12', '3生研Ⅱ1', '3化研Ⅱ1', '3探求Ⅱ', '3体育126', '3コ英Ⅲ1', '3英表Ⅱ1']], [['3A国探'], ['3A数探Ⅱ'], ['3A世探'], ['3A日探'], ['3A英探']], [['3B国探'], ['3B政経'], ['3B数探Ⅱ'], ['3B素描'], ['3B器楽'], ['3保育'], ['3B英探']], [['3C政経'], ['3C倫理'], ['3C国探'], ['3C英探'], ['3C日探']], [['3D政経'], ['3D倫理'], ['3D数探Ⅰ'], ['3D英探'], ['3D生物']], [['3世B1'], ['3日B1']]], '3-2': [[['3A国探'], ['3A数探Ⅱ'], ['3A世探'], ['3A日探'], ['3A英探']], [['3B国探'], ['3B政経'], ['3B数探Ⅱ'], ['3B素描'], ['3B器楽'], ['3保育'], ['3B英探']], [['3C政経'], ['3C倫理'], ['3C国探'], ['3C英探'], ['3C日探']], [['3D政経'], ['3D倫理'], ['3D数探Ⅰ'], ['3D英探'], ['3D生物']], [['3現文2', '3古典2', '3日B2', '3数Ⅱ12', '3生研Ⅱ2', '3化研Ⅱ2', '3探求Ⅱ', '3体育126', '3コ英Ⅲ2', '3英表Ⅱ2']]], '3-3': [[['3A国探'], ['3A数探Ⅱ'], ['3A世探'], ['3A日探'], ['3A英探']], [['3B国探'], ['3B政経'], ['3B数探Ⅱ'], ['3B素描'], ['3B器楽'], ['3保育'], ['3B英探']], [['3C政経'], ['3C倫理'], ['3C国探'], ['3C英探'], ['3C日探']], [['3D政経'], ['3D倫理'], ['3D数探Ⅰ'], ['3D英探'], ['3D生物']], [['3現文3', '3古典3', '3数Ⅱ34', '3探求Ⅱ', '3体育345', '3コ英Ⅲ3', '3英表Ⅱ3']], [['3世B3'], ['3日B34']], [['3生研Ⅱ34', '3化研Ⅱ34'], ['3生物文']]], '3-4文': [[['3A国探'], ['3A数探Ⅱ'], ['3A世探'], ['3A日探'], ['3A英探']], [['3B国探'], ['3B政経'], ['3B数探Ⅱ'], ['3B素描'], ['3B器楽'], ['3保育'], ['3B英探']], [['3C政経'], ['3C倫理'], ['3C国探'], ['3C英探'], ['3C日探']], [['3D政経'], ['3D倫理'], ['3D数探Ⅰ'], ['3D英探'], ['3D生物']], [['3現文4', '3古典4', '3日B34', '3数Ⅱ34', '3生研Ⅱ34', '3化研Ⅱ34', '3探求Ⅱ', '3体育345', '3コ英Ⅲ4', '3英表Ⅱ4']]], '3-4理': [[['3現文4', '3古典理4', '3地B4', '3数Ⅲ45', '3数探Ⅲ45', '3物理4', '3化学4', '3探求Ⅱ', '3体育345', '3コ英Ⅲ4', '3英表Ⅱ4']]], '3-5': [[['3現文5', '3古典理5', '3地B5', '3数Ⅲ45', '3数探Ⅲ45', '3化学5', '3探求Ⅱ', '3コ英Ⅲ5', '3英表Ⅱ5']], [['3物理5'], ['3生物5']]], '3-6': [[['3現文6', '3古典理6', '3地B6', '3数Ⅲ6', '3数探Ⅲ6', '3化学6', '3化探', '3コ英Ⅲ6', '3英表Ⅱ6']], [['3物理6', '3物探'], ['3生物6', '3生探']]]}

In [9]:
final_result['3-6']

[[['3現文6', '3古典理6', '3地B6', '3数Ⅲ6', '3数探Ⅲ6', '3化学6', '3化探', '3コ英Ⅲ6', '3英表Ⅱ6']],
 [['3物理6', '3物探'], ['3生物6', '3生探']]]